<div class="grid">
  <div *ngFor="let item of items | async">
    <a *ngIf="item.slug"  [routerLink]="[roadtripRouteBase, item.slug]">    
      <img [src]="item.imageUri"/>
      <div class="title">{{item.title}}</div>
    </a>
  </div>
</div>