:host {
  padding-top: 2rem;
  display: block;
}

.grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  & > div {
    margin: 1.5em;
    border-radius: .2em;
    overflow: hidden;
    box-shadow: 0 0 1.5rem rgba(0,0,0,.16);
    cursor: pointer;
    position: relative;

    .title {
      font-size: 20px;
      color: #fff;
      text-align: center;
      position: absolute;
      bottom: 40px;
      left: 0;
      right: 0;
      background-color: rgba(66, 165, 245, 0.69);
      padding: 8px;
    }

    img {
      transition: opacity 0.35s, transform 0.35s;
    }

    img:hover {
      opacity: .9;
    }
  }
}