<p>
  idx: {{currentIdx}}
  id: {{currentId}}
</p>

<roadtrip-item-viewer *ngIf="currentId" [roadtripItemId]="currentId"></roadtrip-item-viewer>

<a *ngIf="!isFirst" (click)="prev()">prev</a>
<a *ngIf="!isLast" (click)="next()">next</a>
<a routerLink="/roadtrips">Back</a>


<!-- <div class="grid">
  <div *ngFor="let image of images; let i = index" (click)="gallery.set(i)">
    <img [src]="image.src"/>
  </div>
</div>

<gallery-modal></gallery-modal>


//Gallery images mock data
images = [
  {
    src: 'assets/img/img2.jpg',
    thumbnail: 'assets/img/thumb/img2.jpg',
    text: 'See Sunset View'
  },
  {
    src: 'assets/img/img3.jpg',
    thumbnail: 'assets/img/thumb/img3.jpg',
    text: 'Spring'
  },
  // ...
];


constructor(private gallery: GalleryService) { }

ngOnInit() {
  this.gallery.load(this.images);
} -->
