:host {
  display: flex;
  margin: 32px 0;
  padding-top: 2rem;
}

#panel-left {
  max-width: 60%;

  img {
    width: 100%;
  }
}

#panel-right {
  flex: 1;
  margin-left: 64px;

  h1 {
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 48px;
  }

  p {
    margin: 24px 0;
    line-height: 1.3em;
  }
}

.link {
  display: flex;
  margin-bottom: 16px;

  a {
    color: #888 !important;
  }

  svg {
    margin-right: 8px;
  }
}

.first-link {
  margin-top: 40px;
}