<div id="panel-left">
  <img src="./assets/images/about.jpg">
</div>

<div id="panel-right">
  <h1>Hey!</h1>
  <p>
    My name is Tomek, and travelling is one of my biggest passions.
  </p>
  <p>
    Actually, I should use the words and phrases like: "backpacking", "traveling on a budget", "off the beaten paths", "wandering", "roadtrips", "couchsurfing", 
    because that describes a bit better the way I use to travel.
  </p>
  <p>
    Always looking for interesting, not well-known details about the places, people, traditions, music, everyday life. Differences and similarities.
    Always eager to learn something new. Always curious and first to go a few steps further to see what's behing the next curve of the road :) 
  </p>

  <div class="link first-link">
    <svg style="width:20px;height:20px" viewBox="0 0 24 24">
        <path fill="#42a5f5" d="M4,4H20A2,2 0 0,1 22,6V18A2,2 0 0,1 20,20H4C2.89,20 2,19.1 2,18V6C2,4.89 2.89,4 4,4M12,11L20,6H4L12,11M4,18H20V8.37L12,13.36L4,8.37V18Z" />
    </svg>
    <a href="mailto:tomek@still-on-the-road.com">tomek@still-on-the-road.com</a>
  </div>
  <div class="link" style="margin-top: 8px">
    <svg style="width:20px;height:20px" viewBox="0 0 24 24">
        <path fill="#42a5f5" d="M7.8,2H16.2C19.4,2 22,4.6 22,7.8V16.2A5.8,5.8 0 0,1 16.2,22H7.8C4.6,22 2,19.4 2,16.2V7.8A5.8,5.8 0 0,1 7.8,2M7.6,4A3.6,3.6 0 0,0 4,7.6V16.4C4,18.39 5.61,20 7.6,20H16.4A3.6,3.6 0 0,0 20,16.4V7.6C20,5.61 18.39,4 16.4,4H7.6M17.25,5.5A1.25,1.25 0 0,1 18.5,6.75A1.25,1.25 0 0,1 17.25,8A1.25,1.25 0 0,1 16,6.75A1.25,1.25 0 0,1 17.25,5.5M12,7A5,5 0 0,1 17,12A5,5 0 0,1 12,17A5,5 0 0,1 7,12A5,5 0 0,1 12,7M12,9A3,3 0 0,0 9,12A3,3 0 0,0 12,15A3,3 0 0,0 15,12A3,3 0 0,0 12,9Z" />
    </svg>
    <a href="https://www.instagram.com/still_on_the_road/" target="_blank">still_on_the_road</a>
  </div>
</div>