<form [formGroup]="form">
  <label>id</label>
  <input type="text" formControlName="id" />

  <label>title</label>
  <input type="text" formControlName="title" />

  <label>description</label>
  <textarea formControlName="description"></textarea>

  <label>date</label>
  <input type="text" formControlName="date" />

  <label>imageUri</label>
  <input type="text" formControlName="imageUri" />

  <label>thumbnailUri</label>
  <input type="text" formControlName="thumbnailUri" />

  <label>Type</label>
  <lookup [items]="roadtripItemTypeDisplayNames" formControlName="type"></lookup>

  <label>author</label>
  <input type="text" formControlName="author" />

  <p>
    <img [src]="imageUri">
  </p>

</form>