<div id="editor-left">
  <div>
    <button (click)="expandAll()">Expand All</button>
    <button (click)="collapseAll()">Collapse All</button>
    <button (click)="addRoadtrip()">Add</button>
  </div>
  
  <p-tree
    [value]="tree"
    selectionMode="single"
    [(selection)]="selectedItem" 
    (onNodeSelect)="nodeSelect($event)"
    (onNodeUnselect)="nodeUnselect($event)"
  >
    <ng-template let-node pTemplate="default">
        <span>
          {{node.label}}
          <button *ngIf="node.data.items" (click)="addRoadtripItem(node.data.id)">Add</button>
        </span>
    </ng-template>
  </p-tree>
  
  <div>
    <button (click)="loadFromLocal(true)">Load from local (true)</button>
    <button (click)="loadFromLocal(false)">Load from local (false)</button>
  </div>
  <div>loadFromLocalState: {{loadFromLocalState}}</div>
</div>

<div id="editor-right">

  <div>
    <button (click)="save()" [disabled]="!selectedRoadtrip && !selectedRoadtripItem">Save</button>
  </div>

  <roadtrip-item-editor
    *ngIf="selectedRoadtripItem"
    [(model)]="selectedRoadtripItem"
  ></roadtrip-item-editor>
  
  <roadtrip-editor
    *ngIf="selectedRoadtrip"
    [(model)]="selectedRoadtrip"
  ></roadtrip-editor>
  
</div>