<header>
  <a class="title" routerLink="/home">/ Still On The Road / <span title="still-on-the-road.com is still in beta version. &#13;Any comments, suggestions, etc. warmly welcome!">(beta)</span></a>

  <ul>
    <li>
      <a routerLink="/roadtrips" routerLinkActive="active">Trips</a>
    </li>
    <li>
      <a routerLink="/plans" routerLinkActive="active">Plans</a>
    </li>
    <!-- <li>
      <a routerLink="/blog" routerLinkActive="active">Blog</a>
    </li> -->
    <li>
      <a routerLink="/about" routerLinkActive="active">About</a>
    </li>
  </ul>
</header>

<div class="page-container">
  <router-outlet></router-outlet>
</div>

<!-- <footer>
  &copy; 2017 <a href="mailto:michniewicz.tomasz@gmail.com">Tomek Michniewicz</a>
</footer> -->

<!-- <svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
  <path d="M15.41 16.09l-4.58-4.59 4.58-4.59L14 5.5l-6 6 6 6z"/>
  <path d="M0-.5h24v24H0z" fill="none"/>
</svg>

<svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
  <path d="M4 11h5V5H4v6zm0 7h5v-6H4v6zm6 0h5v-6h-5v6zm6 0h5v-6h-5v6zm-6-7h5V5h-5v6zm6-6v6h5V5h-5z"/>
  <path d="M0 0h24v24H0z" fill="none"/>
</svg>

<svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
  <path d="M4 15h16v-2H4v2zm0 4h16v-2H4v2zm0-8h16V9H4v2zm0-6v2h16V5H4z"/>
  <path d="M0 0h24v24H0V0z" fill="none"/>
</svg> -->