<div class="page-title">{{roadtrip.title}}</div>

<div class="page-subtitle">{{roadtrip.subtitle}}</div>

<div class="page-description">{{roadtrip.description}}</div>

<div class="roadtrip-page">
  <div *ngFor="let item of roadtripItems" class="img-container">
    <img [src]="item.imageUri"/>
    <div class="img-title">
      {{item.title}}  
    </div>
  </div>
</div>