:host {
  padding-top: 4rem;
  display: block;
}

.roadtrip-page {
  text-align: center;

  .img-container {
    display: inline-block;
    margin: 16px;
  }

  img {
    max-width: 100%;
    height: auto;
    max-height: 780px;
  }

  .img-title {
    font-size: 18px;
    padding: 16px;
    margin-bottom: 4rem;
    background-color: #eee;
  }
}