<div class="page-title">
  {{roadtrip.title}}
  <span class="btn-switch-view" (click)="switchView()"></span>
</div>

<div class="page-subtitle">{{roadtrip.subtitle}}</div>

<div class="page-description" *ngIf="roadtrip.description">{{roadtrip.description}}</div>

<div class="grid">
  <div *ngFor="let item of items">

    <div *ngIf="item.type === RoadtripItemType.Text" class="rti-text">{{item.description}}</div>

    <div *ngIf="item.type === RoadtripItemType.Image" class="rti-image" (click)="galleryItemClick(item.id)">
      <img [src]="item.thumbnailUri"/>
      <span *ngIf="item.title">{{item.title}}</span>
    </div>

    <div *ngIf="item.type === RoadtripItemType.Video" class="rti-video">
      <iframe width="700" height="394" [src]="this.sanitizer.bypassSecurityTrustResourceUrl(item.imageUri + '?rel=0&amp;showinfo=0')" frameborder="0" allowfullscreen></iframe>
    </div>
    
  </div>
</div>

<gallery-modal></gallery-modal>