:host {
    padding-top: 4rem;
    display: block;
  }

.grid {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 980px;
    margin: 0 auto;

    & > div {
        margin-top: 2.5em;
        overflow: hidden;
        text-align: center;

        .rti-text {
            line-height: 1.7em;
            font-size: 18px;
            text-align: left;
            width: 760px;            
        }

        .rti-image {
            position: relative;
            display: inline-block;

            img {
                cursor: pointer;
                transition: opacity 0.35s, transform 0.35s;
                max-height: 100vh;
                box-shadow: 0 0 1.5rem rgba(0,0,0,.16);
            }
        
            &:hover img {
                // transform: scale(1.15);
                opacity: .8;
                cursor: zoom-in;
            }
        
            span {
                position: absolute;
                bottom: 4px;
                left: 0;
                right: 0;
                padding: 8px 16px;
                background-color: rgba(51, 51, 51, 0.5);
                color: #fff;
                font-size: 12px;
                opacity: 0;
                transition: opacity 0.35s, transform 0.35s;
            }
    
            &:hover span {
                opacity: 1;
            }
        }
        
    }

}

.page-title {
  position: relative;

  .btn-switch-view {
    position: absolute;
    top: 4px;
    right: 0;
    cursor: pointer;
  }
}