@import url('https://fonts.googleapis.com/css?family=Roboto');
// @import url('https://fonts.googleapis.com/css?family=Open+Sans');
// @import url('https://fonts.googleapis.com/css?family=Lato:400,700');

$font-main: 'Roboto', sans-serif;
// $font-main: 'Open Sans', sans-serif;
// $font-main: 'Lato', sans-serif; 
// font-family: Arial, Helvetica, sans-serif;

body {
  margin: 0;
  padding: 0;
  font-family: $font-main;
}

a {
  text-decoration: none !important;
}

header {
  color: #fff;
  background-color: #42a5f5;
  padding: 16px 128px 16px 96px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 1.5rem rgba(0,0,0,.29);

  a {
    color: #fff;
  }

  a.active {
    border-bottom: 2px solid #fff;
    padding-bottom: 3px;
  }

  .title {
    font-size: 24px;
    flex: 1;

    span {
      font-size: 12px;
    }
  }

  ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    
    li {
      margin-left: 16px;
    }
  }
}

footer {
  color: #fff;
  background-color: #42a5f5;
  padding: 8px 16px;

  a {
    color: #fff;
    text-decoration: none;
  }  
}

.page-container {
  padding-bottom: 4rem;
  color: #333;
  margin: 0 auto;
  max-width: 1300px;

  .page-title {
    font-size: 32px;
    text-align: center;
    margin-bottom: 1rem;
  }

  .page-subtitle {
    font-size: 14px;
    font-weight: 100;
    letter-spacing: .05rem;
    color: #888;
    text-align: center; 
    margin-bottom: 2rem;
    text-transform: capitalize;
  }

  .page-description {
    margin-bottom: 2.5rem;
    font-size: 16px;
    line-height: 1.4rem;
  }
}

// PrimeNG

.ui-tree {
  min-width: 500px;
  min-height: 350px;
}


// ng-gallery

.g-text {
  text-align: center;
}


// Forms

form {

  label {
    display: block;
  }

  input, select, textarea {
    display: block;
    margin: 4px 0 8px 0;
    border: 1px solid #ddd;
    padding: 4px 8px;
    width: 100%;
  }

  textarea {
    min-height: 90px;
    font-family: arial;
    font-size: 14px;
  }
}

// Spinner
#spinner-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}