<div class="page-title">Plans</div>

<div class="page-subtitle">AKA what and where next!</div>

<ul>
  <li>
    Portland
    <span>2018</span>
  </li>
  <li>
    Spain / Portugal / France
    <span>Spring / Summer 2018</span>
  </li>
  <li>
    Island
    <span>June 2018</span>
  </li>
  <li>
    Mount Kilimanjaro
    <span>(TBD)</span>
  </li>
  <li>
    Australia / New Zeland
    <span>(TBD)</span>
  </li>
  <li>
    South America
    <span>(TBD)</span>
  </li>
  <li>
    South Korea / Japan/ Vietnam / India /Mongolia
    <span>(TBD)</span>
  </li>
</ul>