:host {
    padding-top: 4rem;
    display: block;
    text-align: center;
  }

  ul {
    margin: 0 auto;
    margin-top: 1.5rem;
    padding: 0;
    display: inline-block;
    list-style: none;

    li {
      margin-bottom: 24px;
      font-size: 24px;

      span {
        display: block;
        font-size: 14px;
        color: #888;
        margin-top: 4px;
      }
    }
  }