<form [formGroup]="form">
  <label>id</label>
  <input type="text" formControlName="id" />

  <label>title</label>
  <input type="text" formControlName="title" />

  <label>subtitle</label>
  <input type="text" formControlName="subtitle" />

  <label>description</label>
  <textarea formControlName="description"></textarea>

  <label>slug</label>
  <input type="text" formControlName="slug" />

  <label>date</label>
  <input type="text" formControlName="date" />

  <label>imageUri</label>
  <input type="text" formControlName="imageUri" />

  <label>author</label>
  <input type="text" formControlName="author" />

  <p>
    <img [src]="imageUri">
  </p>  
</form>